#app {
  height: 0;
}

.xterm-viewport {
  background-color: rgb(8, 24, 34) !important;
}

.terminal {
  ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgb(8, 24, 34);
  }
}
.terminal.xterm:not(:last-child) {
  display: none;
}

.xterm-rows, .xterm-rows > div:not(:has(.xterm-cursor)) {
  pointer-events: none;
}

/* The following are CSS hotfixes for bugs that occurred due to 'jail-break'ing the Framer side with a no-code to html tool */
/* I acknowledge this is terrible practice and promise not to do it again :') */
.framer-TPyLz {
  width: calc(100vw - 32px) !important;
}

.framer-1vdvt3y {
  padding-bottom: 16px !important;
}

body {
  overflow-x: hidden;
}

.framer-MSLi4 {
  opacity: 1 !important;
}

#contact-2 {
  z-index: 0 !important;
}

/* Resume button hint */
.framer-xfv7qn-container:first-child .framer-x2hwk::after {
  content: "↑ Resume";
  display: block;
  color: white;
  font-size: 0.8rem;
  margin-top: 6px;
  text-align: center;
  top: 42px;
  position: relative;
  left: -10px;
}

// Terminal screen size
.framer-14kpxdk {
  max-height: 30vh;
}

@media only screen and (min-width: 768px) {
  .framer-XTjJ3 {
    overflow: hidden !important;
  }

  // Terminal screen size
  .framer-14kpxdk {
    max-height: 60vh;
  }
  /* Card tech labels */
  .framer-1f6tag0 p span {
    font-size: 22px !important;
  }
  /* Card tech labels */
  .framer-1it751k p span, .framer-60fbyx p span {
    font-size: 17px !important;
  }
  .framer-1o0ec7y {
    margin-top: 16px;
  }
  .framer-1013ucp, .framer-d7bz4t {
    overflow: visible !important;
  }
}

@media (max-width: 767px) {
  /* Section heights/padding */
  #bio .framer-wktgsy-container { padding-top: 96px; };
  #blog { padding-top: 256px; }
  .framer-VLQog .framer-1vfmt6w,
  .framer-VLQog .framer-1rczswb {
    height: initial !important;  
  }
  .framer-VLQog .framer-1vfmt6w {
    min-height: 100vh;
  }

  /* Testimonial padding */
  .framer-1o0ec7y, .framer-1o0ec7y {
    margin-top: 16px;
  }

  /* CTA button overflow */
  .framer-VLQog .framer-241gsz {
    gap: 4px !important;
    padding: 12px 8px 12px !important;
  }

  /* Card tech labels */
  .framer-1f6tag0 p span {
    font-size: 17px !important;
  }
  .framer-hgz8pz {    
    margin-bottom: 8px;
  }
}